@import "tailwindcss";
@plugin "daisyui";


body{
  font-family: "Roboto", sans-serif;
}

.muso{
  font-family: "MuseoModerno", sans-serif;
}

body.dark{
  background-color: rgb(50, 51, 53);
  color: white;
  
}


body::-webkit-scrollbar {
  width: 12px;
  background-color: #1e1e1e; /* scrollbar track background */
}

body::-webkit-scrollbar-thumb {
  background-color: #fc0000;     /* scrollbar handle */
  border-radius: 10px;
  border: 2px solid #1e1e1e;  /* space between handle & track */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1ee096;     /* on hover */
}